{% load barbeque_tags %}
{% load floppyforms %}


{% block row %}
	{% if form.row_classname %}
		{% set row_classname=form.row_classname %}
	{% endif %}

	<div class="{{ row_classname }}">
		{% for field in fields %}
			{% if field.name %}
				{% set name=field.name %}
				{% set label=field.label %}
				{% set help_text=field.help_text %}
				{% set errors=errorsfield.errors %}
				{% set required=field.required %}
				{% set css_classes=field.css_classes %}
				{% set type=field.field.widget.widget_type %}
				{% set field_id=field|id %}
			{% endif %}

			<label
				class="form-field-{{ type }} has-name-{{ name|slugify }}{{ required|yesno:' is-required,' }}{% if errors %} has-errors{% endif %}{% if classes %} {{ classes }}{% endif %}"
				for="{{ field_id }}">
				{% if type == 'checkboxinput' %}
					{% block field_checkboxinput %}
						{% formfield field using 'barbeque/forms/field/checkboxinput.html' %}
					{% endblock %}
				{% endif %}

				<span class="label">
					{% block label %}{{ label|safe }}{% endblock %}
				</span>

				{% if type != 'checkboxinput' %}
					<span class="field">
						{% block field %}
							{% if type == 'checkboxselectmultiple' %}
								{% formfield field using 'barbeque/forms/field/checkboxselectmultiple.html' %}
							{% elif type == 'radioselect' %}
								{% formfield field using 'barbeque/forms/field/radioselect.html' %}
							{% elif type == 'selectdatewidget' %}
								{% formfield field using 'barbeque/forms/field/selectdatewidget.html' %}
							{% else %}
								{% formfield field with placeholder=label %}
							{% endif %}
						{% endblock %}
					</span>
				{% endif %}

				{% if errors %}
					<sub class="errors">
						{% block errorlist %}
							{{ errors }}
						{% endblock %}
					</sub>
				{% endif %}

				{% if help_text %}
					<sub class="helptext">
						{% block help_text %}
							{{ help_text }}
						{% endblock %}
					</sub>
				{% endif %}
			</label>
		{% endfor %}
		{% block hidden_fields %}
			{% for field in hidden_fields %}{{ field.as_hidden }}{% endfor %}
		{% endblock %}
	</div>
{% endblock %}
