include README.rst
include CHANGELOG.rst
include LICENSE.rst
include setup.cfg

recursive-include barbeque *.py

recursive-exclude barbeque/tests *
recursive-exclude * *.pyc
recursive-exclude * *.pyo
